@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Rock+Salt&display=swap');

html {
    display: flex;
    flex-direction: column;
    /* Organiza header, main e footer em coluna */
    margin: 0;
    height: 100vh;
    /* Ocupa toda a altura da viewport */

}

body {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100%;

}

main {
    flex: 1;
    /* Ocupa o espaço restante entre header e footer */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centraliza o conteúdo verticalmente */
}

header {
    width: 100%;
    background-color: rgb(173, 216, 220);
    font-family: "Rock Salt", cursive;
    line-height: 15px;
    text-align: center;
    box-shadow: -4px 4px 4px #7a8f88;
    padding: 10px 0;
    /* Ajuste de padding para consistência */
}

header>h2 {
    font-size: 1.2rem;
}

.logo {
    vertical-align: middle;
    width: 30px;

}

.game-area {
    display: flex;
    flex-direction: row;
    /* Mantém player e computer lado a lado */
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    /* Ocupa toda a altura do main */
    font-family: "Neucha", cursive;
}

.buttons {
    padding-top: 2%;
    text-align: center;
}

.control {
    font-family: "Neucha", cursive;
    margin: 5px 2px;
    display: inline-block;
    font-size: 1.4rem;
        height: 50px;
        width: 120px;
}

.control:hover {
    background-color: rgb(57, 209, 201);
}

#messages {
    font-family: "Rock Salt", cursive;
    text-align: center;
    font-size: 0.8rem;

}

.space {
    text-align: center;
    align-content: center;
    height: 25px;
}

.player {
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 203, 230);
    box-shadow: -4px 4px 4px #5a66744e;
    width: 50%;
    height: 80%;
    /* Ajusta para caber dentro do main */
}

#player-image {
    width: 100%;

}

.computer {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 128, 128);
    box-shadow: -4px 4px 4px #74615a4e;
    width: 50%;
    height: 80%;
    /* Ajusta para caber dentro do main */
}

#computer-image {
    width: 100%;
}

footer {
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    background-color: rgb(240, 145, 110);
    box-shadow: -4px 4px 4px #5a66744e;
    height: 10vh;
    width: 100%;

}


.text-content {

    font-size: 0.6rem;
    text-align: center;
}






@media (max-width: 400px) {
    .game-area {
        flex-direction: column;
        width: 100%;
    }

    .control {
        margin: 2px;
        height: 30px;
        width: 80px;
    }

    .buttons {
        padding-top: 7px;
        margin-bottom: 5px;
    }

    .player,
    .computer {
        min-height: 45%;
        width: 40%;
        margin: 0;
        margin-bottom: 10px;
    }

    footer>p {
        margin: 5px 0;
    }

    #messages {
        font-size: 8px;
    }

    header {
        padding: 0;
    }

    header>h2 {
        margin: 10px 0;
    }
}

/*Changing font size for screnns larger then 550px*/
@media screen and (min-width: 550px) {
    .text-content {
        font-size: 0.8rem;
    }


}


@media screen and (min-width: 768px) {

    .player,
    .computer {

        width: 40%;
    }

    footer>p {
        margin: 10px 0;
    }
    .text-content{
        font-size: 0.75rem;
    }
    #messages {
        margin: 10px 0;
    }

    .game-area {
        margin-top: 1.5%;
    }


}

/*Changing font size for screen up to 992 and larger*/
@media screen and (min-width: 992px) {
    .text-content {
        font-size: 1rem;

    }

    footer>p {
        margin: 16px 0;
    }

    .game-area {
        font-size: 1.2rem;
        height: auto;
        width: 68%;
        padding-bottom: 1%;
    }




    #messages {
        padding-top: 2%;
    }

}


/*correcting the extra space generated by the enlargement of .player and .computer for XXL screens*/
@media screen and (min-width: 1450px) {

    .player,
    .computer {
        font-size: 1.8rem;

    }

    footer>p {
        margin: 26px 0 16px 0;
    }
    .text-content{
        font-size: 1.4rem;
    }
    #messages {
        margin: 0;
    }
  

}